go 1.22.0

use (
	./cmd/titanops
	./cmd/titanops-mcp
	./correlation
	./eval/runner
	./gateway
	./integrations/alertmanager
	./modules/earthworm
	./modules/ebeecontrol
	./modules/ollinai
	./shared/titanops-ai
	./shared/titanops-config
	./shared/titanops-export
	./shared/titanops-k8s
	./shared/titanops-platform
)
